sudo: required

language: python

python:
  - "2.7"

env: SCIDB_VER=15.12

services:
  - docker

before_install:
  - docker pull rvernica/scidb:${SCIDB_VER}
  - docker run
    --name scidb
    --detach
    --volume /dev/shm
    --tmpfs /dev/shm:exec
    --publish 8080:8080
    --publish 8083:8083
    rvernica/scidb:${SCIDB_VER}
  - while ! curl http://localhost:8080/version; do sleep 1; done

install:
  - pip install
    --only-binary=scipy
    mock
    numpy
    pandas
    pytest
    requests
    scipy

script:
  - pytest
  - pip install .

after_failure:
  - docker logs scidb
